/* 
npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch 
*/

@import "tailwindcss";
@import '@fontsource/clear-sans';

@theme {
    --color-background: oklch(0.1826 0.002 286.2);
    --color-correct: oklch(0.5874 0.1112 142.32);
    --color-present: oklch(0.7032 0.1207 96.69);
    --color-absent: oklch(0.3492 0.0034 286.22);
};

@font-face{
    font-family: Clear Sans;
    src: url(../fonts/clear-sans/WOFF/ClearSans-Regular.woff)
}

html {
    font-family: 'Clear Sans';
    scroll-behavior: smooth;
}

body {
    font-family: 'Clear Sans', sans-serif;
}

.button{
    background-color: grey;
    min-width: 64px;
    min-height: 64px;
    padding: 12px;
    border-radius: 12px;
    vertical-align: middle;
    text-transform: uppercase;
}

.text-row{
    gap:10px;
    padding-bottom:10px
}

.box {
    min-width: 80px;
    min-height: 80px;
    border-style: solid;
    border-width: 4px;
    border-color: #3a3a3c;
    /* border-color: darkgray; */
}

.box-rows{
    display: flex;
    gap: 8px 
}

.box-columns{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-bottom: 16px;
}